@media (max-width: 768px){
    #calendar{
        .weekdays, .other-month{
            display: none;
        }
        li{
            height: auto !important;
            border: 1px solid #ededed;
            width: 100%;
            padding: 10px;
            margin-bottom: -1px;
        }
        .date{
            float: none;
        }
    }
}